{% extends "patho-base.html" %}
{% block title %}About Us{% endblock %}
{% block style %}
div.page-heading {
  padding: 50px 0px;
}
{% endblock %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading" style="padding: 100px 0px">
            <h1>About Us</h1>
            <span class="subheading">This is what We are trying.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Pathology is a very important subject for both undergraduate and postgraduate medical students. Understanding the disease processes is a must for every doctor to perform his/her duty accurately. Studying this subject is also very important for MRCP, MRCS, FCPS, BCS (written). </p>
        <p>As it is a very important subject, all students try to study it well. But Pathology is also a hard subject. Understanding the molecular mechanisms and morphology of different disease conditions (both gross and microscopic) and correlating them with the mechanisms may sometimes be very very difficult. Students often become frustrated and give up.</p>
        <p>That's where we come to help. We write articles on different pathology topics with annotated figures and diagrams making them easier to understand and more palatable.</p>
      </div>
    </div>
  </div>

  <hr>
{% endblock %}