{% extends "patho-base.html" %}
{% block title %}All Articles ({{ page_num }}){% endblock %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading" style="padding: 30px 0px">
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row"> 
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 class="post-title text-center" style="color: red">All Articles</h1>
        <h3 class="post-title text-center" style="color: blue">Total: {{ total }} Articles</h3>
      </div>
    </div> 
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for article in articles %}
        <div class="post-preview">
          <a href="/pathology/post/{{ article.id }}">
            <h2 class="post-title">
              {{ article.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ article.subtitle }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ article.author }}</a>
            on {{ article.date_created.strftime('%B %d, %Y %I:%M %p') }}, {{ article.view_count }} views</p>
        </div>
        <hr>
        {% endfor %}
        
        {% if page_num < max_pages %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{ url_for('pathology.articles', page=page_num+1) }}">Next &rarr;</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <hr>
{% endblock %}