{% extends "patho-base.html" %}
{% block title %}Create Article{% endblock %}

{% block content %}
  <script src="https://cdn.tiny.cloud/1/k97yonru4g4gxqrykpfket9qyt248kdbw0b41dp3juzk6eyg/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: 'textarea',
      mobile: {
        menubar: true,
        plugins: 'advlist lists image autolink link table searchreplace fullscreen',
        menubar: 'edit view insert format table',
        menu: {
          view: { title: 'View', items: 'fullscreen' },
          format: { title: 'Format', items: 'bold italic superscript subscript | blockformats fontsizes align | forecolor backcolor'},
        },
        toolbar1: 'undo redo fullscreen | image link searchreplace',
        toolbar2: 'formatselect fontsizeselect',
        toolbar3: 'bold italic superscript subscript forecolor backcolor | alignleft aligncenter alignright alignjustify indent outdent numlist bullist',
      },

      plugins: 'advlist lists image autolink link table searchreplace fullscreen',
      menubar: 'edit view insert format table',
      menu: {
        view: { title: 'View', items: 'fullscreen' },
        format: { title: 'Format', items: 'bold italic superscript subscript | blockformats fontsizes align | forecolor backcolor'},
      },
      toolbar1: 'undo redo fullscreen | formatselect fontsizeselect image link searchreplace',
      toolbar2: 'bold italic superscript subscript forecolor backcolor | alignleft aligncenter alignright alignjustify indent outdent numlist bullist',
      images_upload_url: '/pathology/upload',
      images_upload_handler: function (blobInfo, success, failure) {
        var xhr, formData;
        xhr = new XMLHttpRequest();
        xhr.withCredentials = false;
        xhr.open('POST', '/pathology/upload');

        xhr.onload = function() {
          if (xhr.status != 200) {
            failure('HTTP Error: ' + xhr.status);
            return;
          }
          success(xhr.responseText);
        };
        formData = new FormData();
        formData.append('file', blobInfo.blob(), blobInfo.filename());
        xhr.send(formData);
      }, 
    });
  </script>
  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading" style="padding: 100px 0px">
            <h1>Create Article</h1>
            <span class="subheading">Here you can create and post new articles</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form name="sentMessage" id="contactForm" method="POST">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title of the article" name="title" value="{{ content[0] }}" required>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Subtitle</label>
              <input type="text" class="form-control" placeholder="Subtitle of the article" name="subtitle" value="{{ content[1] }}" required>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Author</label>
              <input type="text" class="form-control" placeholder="Name of the Author" name="author" value="{{ content[2] }}" required>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea rows="15" class="form-control" placeholder="Content of the article" name="content">{{ content[3] }}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group mx-auto">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <hr>
{% endblock %}