{% extends "patho-base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block style %}
 p, li {
 -webkit-hyphens: auto;
 -ms-hyphens: auto;
 hyphens: auto;
}
{% endblock %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-12 mx-auto">
          <div class="post-heading" style="padding: 100px 0px">
            <h1>{{ article.title }}</h1>
            <h2 class="subheading">{{ article.subtitle }}</h2>
            <span class="meta">Posted by
              <a href="#">{{ article.author }}</a>
              on {{ article.date_created.strftime('%B %d, %Y %I:%M %p') }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-12 mx-auto">
          {{ article.content | safe }}
        </div>
      </div>
    </div>
  </article>

  <hr>
{% endblock %}