{% extends "patho-base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block style %}
 .post {
  font-family: 'Roboto';
}

.post h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  margin: 20px 0px;
}

.post p {
  margin: 20px 0px;
}

table {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.12);
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 0 !important;
  border-collapse: collapse !important;
}

th, td {
  padding: 10px !important;
}

.post thead {
  background-color: #545a60;
  color: white;
  font-family: 'Poppins';
  letter-spacing: 0.6px;
}

tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.post img {
  width: 100% !important;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.post blockquote {
  font-style: normal;
  color: black;
  background: rgba(127, 255, 212, 0.25);
  padding: 5px 15px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25); 
}

.post a {
  color: blue;
}

.masthead {
  margin-bottom: 10px !important;
}

{% endblock %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-12 mx-auto">
          <div class="post-heading" style="padding: 100px 0px">
            <h1>{{ article.title }}</h1>
            <h2 class="subheading">{{ article.subtitle }}</h2>
            <span class="meta">Posted by
              <a href="#">{{ article.author }}</a>
              on {{ article.date_created.strftime('%B %d, %Y %I:%M %p') }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-12 mx-auto post">
          {{ article.content | safe }}
        </div>
      </div>
    </div>
  </article>

  <hr>
{% endblock %}

{% block script %}
var tables = document.getElementsByTagName('table');
var i, wrapper, table;

for (i=0; i<tables.length; i++) {
  table = tables[i];
  wrapper = document.createElement('div');
  tables[i].parentNode.replaceChild(wrapper, table);
  wrapper.appendChild(table);
  wrapper.style.overflowX = 'auto';
}
{% endblock %}