{% extends "ecg-base.html" %}
{% set active_page = 'test' %}

{% block title %}Test {{ code }}{% endblock %}

{% block style %}
img {
	width: 100%;
	height: auto;
}

.cards {
	display: flex;
}

.image-card {
    display: none;
    margin-bottom: 15px;
    font-size: 1.15em;
    width: 100%;
}

.answer {
	display: none;
	text-align: center;
}

.ui {
	display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.top-ui {
	display: flex;
    justify-content: space-between;
    align-items: baseline;
}
{% endblock %}

{% block content %}

<div class="container">
	<div class="top-ui">
		<h4 class="title">Test {{ code }}</h4>
		<span id="ecg-num"></span>
	</div>
	<div class="cards">
		{% for ecg in data %}
		<div class="image-card">
			<img src="{{ ecg[0] }}" alt="">
			<p class="answer">{{ ecg[1] }}</p>
		</div>
		{% endfor %}
	</div>
	<div class="ui">
		<button class="btn" id="prev">Previous</button>
		<button class="btn" id="show">Show Answer</button>
		<button class="btn" id="next">Next</button>
	</div>
</div>
	
{% endblock %}

{% block script %}

current = 0;
showAnswer = false;
ecgnum = document.querySelector('#ecg-num');
cards = document.querySelectorAll('.image-card');

if (cards.length == 0) {
	ecgnum.innerHTML = 'No ECG found';
	document.querySelector('.ui').style.display = 'none';
}

if (cards.length > 0) {
	cards[current].style.display = 'block';
	answers = document.querySelectorAll('.answer');
	nextbtn = document.querySelector('#next');
	prevbtn = document.querySelector('#prev');
	showbtn = document.querySelector('#show');

	function updateAnswerVisibility() {
		if (showAnswer) {
			answers[current].style.display = 'block';
			showbtn.innerHTML = 'Hide Answer';
		} else {
			answers[current].style.display = 'none';
			showbtn.innerHTML = 'Show Answer';
		}
	}

	function updateNavBtns() {
		if (current == cards.length - 1) {
			nextbtn.disabled = true;
		} else {
			nextbtn.disabled = false;
		}

		if (current == 0) {
			prevbtn.disabled = true;
		} else {
			prevbtn.disabled = false;
		}
		showAnswer = false;
		updateAnswerVisibility();
		ecgnum.innerHTML = current+1 + ' out of ' + cards.length;
	}

	updateNavBtns();

	nextbtn.onclick = function() {
		if (current < cards.length - 1) {
			cards[current].style.display = 'none';
			current++;
			cards[current].style.display = 'block';
		}
		updateNavBtns();
	};

	prevbtn.onclick = function() {
		if (current > 0) {
			cards[current].style.display = 'none';
			current--;
			cards[current].style.display = 'block';
		}
		updateNavBtns();
	};

	showbtn.onclick = function() {
		if (showAnswer) {
			showAnswer = false;
		} else {
			showAnswer = true;
		}
		updateAnswerVisibility();
	}
}

{% endblock %}