<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Create Poster for Q/A</title>
	<style>
		#form-content {
			border-radius: 10px;
			box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
			padding: 5px 10px 0 10px;
		}

		#input-text {
			padding: 0 0 10px 10px;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='materialize.css') }}">
</head>
<body>
	<div class="container">
		<div class="row"><h3>Poster Creation for CallosumBD Daily Quiz</h3></div>
		<div class="row">
			<form action="#" method="post" accept-charset="utf-8" id="form">
				<div id="input-text"></div>
				<textarea class="hide" name="input" id="text" required></textarea>
				<div class="row" id="form-content">
					<div class="input-field" style="margin-bottom: 0;">
						<textarea class="materialize-textarea" placeholder="Write a paragraph here" id="paragraph"></textarea>
					</div>
					<div class="row">
						<div class="col s7 m4" style="padding-left: 0; margin-bottom: 20px;">
							Select Text Color
							<input type="color" style="margin-left: 10px;" id="color">
						</div>
						<div class="col s3 m4">
							<label for="bold">
								<input type="checkbox" name="bold" id="bold">
								<span>Bold</span>
							</label>
						</div>
						<div class="col s12 m4" style="padding-left: 0;">
							<a class="waves-effect waves-light btn-small" id="add-para">Add Paragraph</a>
						</div>
					</div>
				</div>
				
				<div class="row">
					<button class="orange waves-effect waves-light btn" type="submit" id="submit">Create Poster</button>
				</div>
			</form>
		</div>
	</div>
	<script src="{{ url_for('static', filename='materialize.js') }}" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{{ url_for('poster.static', filename='index.js') }}" type="text/javascript" charset="utf-8" async defer></script>
</body>
</html>