<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>YouTube Downloader</title>
	<style>
		img {
			width: 100%;
			height: auto;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="{{ url_for('frame.static', filename='materialize.css') }}">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col"><h3>YouTube Downloader</h3></div>
		</div>
		<div class="row">
			{% if js==False %}
			<form method="post" id="form" >
    			<div class="col s9 m10" style="padding-left:none;">
    				<input type="url" class="validate" name="url" id="url" placeholder="YouTube video or playlist link">
    			</div>
    			<div class="col s2 m2">
					<button class="teal waves-effect waves-light btn" type="submit" id="submit">Get</button>
				</div>
			</form>
			{% else %}
			<div class="col s9 m10" style="padding-left:none;">
    			<input type="url" class="validate" id="yturl" placeholder="YouTube video or playlist link">
    		</div>
    		<div class="col s2 m2">
				<button class="teal waves-effect waves-light btn" id="get">Get</button>
			</div>
			<div class="col s12">
				<div id="progresstext"></div>
			</div>
			<div class="col s12">
				<div class="progress" style="display:none;">
					<div class="indeterminate" id="progressbar"></div>
				</div>
			</div>
			{% endif %}
		</div>
		{% if data %}
		<div class="row"><div class="col">
			<img src="{{ data[4].thumbnail_url }}" alt="">
			<h5>{{ data[0] }}</h4>
			<h6>Duration: {{ data[1] }}</h6>
		</div></div>
		<div class="row"><div class="col s12">
			<table class="centered">
				<caption><h6>Video Streams</h6></caption>
				<thead>
					<tr>
						<th>MIME Type</th>
						<th>Resolution</th>
						<th>Size</th>
						<th>Link</th>
					</tr>
				</thead>
				<tbody>
					{% for video in data[3] %}
					<tr>
						<td>{{video.mime_type}}</td>
						<td>{{video.resolution}}</td>
						<td>{{format_size(video.filesize, binary=True)}}</td>
						<td><a href="{{video.url}}" target="_blank" rel="noopener noreferrer" download>Download</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			</div></div>
			<div class="row"></div>
			<div class="row"><div class="col s12">
			<table class="centered">
				<caption><h6>Audio Streams</h6></caption>
				<thead>
					<tr>
						<th>MIME Type</th>
						<th>Bitrate</th>
						<th>Size</th>
						<th>Link</th>
					</tr>
				</thead>
				<tbody>
					{% for audio in data[2] %}
					<tr>
						<td>{{audio.mime_type}}</td>
						<td>{{audio.abr}}</td>
						<td>{{format_size(audio.filesize, binary=True)}}</td>
						<td><a href="{{audio.url}}" target="_blank" rel="noopener noreferrer" download>Download</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div></div>
		{% endif %}

		{% if playlist %}
		<div class="row"><div class="col">
			<h5>{{ playlist[0] }}</h4>
			<h6>{{ playlist[1] }} videos</h6>
		</div></div>
		<div class="row"><div class="col">
			<ul class="collection">
				{% for file in playlist[2] %}
				<li class="collection-item">{{ file.title }}</li>
				{% endfor %}
			</ul>
		</div></div>
		{% endif %}
		{% if js %}
		<div class="row" id="pl_info"><div class="col">
			<h5 id="pl_title"></h4>
			<h6 id="pl_num_videos"></h6>
		</div></div>
		<div class="row" id="pl_main"><div class="col">
			<ul class="collapsible" id="pl_list"></ul>
		</div></div>
		<div class="row" id="vid_info"><div class="col">
			<img id="vid_thumb">
			<h5 id="vid_title"></h4>
			<h6 id="vid_duration"></h6>
		</div></div>
		<div class="row" id="vid_main"><div class="col s12" id="vid_links">
			
		</div></div>
		{% endif %}
	</div>
	<script src="{{ url_for('frame.static', filename='materialize.js') }}" type="text/javascript" charset="utf-8" async defer></script>
	<script type="text/javascript">
	{% if js %}
		progresstext = document.getElementById('progresstext');
		progressbar = document.getElementById('progressbar');
		progresswrapper = document.querySelector('.progress');
		collapsible = document.querySelector('.collapsible');
		
		function getLinks(json) {
			output = '<div class="row"><div class="col s12"> \
			<table class="centered"> \
				<caption><h6>Video Streams</h6></caption> \
				<thead> \
					<tr> \
						<th>MIME Type</th> \
						<th>Resolution</th> \
						<th>Size</th> \
						<th>Link</th> \
					</tr> \
				</thead> \
				<tbody>';

			for (video of json.videos) {
				output += '<tr><td>' + video[0] 
						+ '</td><td>' + video[1]
						+ '</td><td>' + video[2]
						+ '</td><td><a href="' + video[3]
						+ '" target="_blank" rel="noopener noreferrer">'
						+ 'Download</a></td></tr>';
			}

			output += '</tbody> \
			</table></div></div> \
			<div class="row"></div> \
			<div class="row"><div class="col s12"> \
			<table class="centered"> \
				<caption><h6>Audio Streams</h6></caption> \
				<thead> \
					<tr> \
						<th>MIME Type</th> \
						<th>Bitrate</th> \
						<th>Size</th> \
						<th>Link</th> \
					</tr> \
				</thead> \
				<tbody>';

			for (audio of json.audios) {
				output += '<tr><td>' + audio[0] 
						+ '</td><td>' + audio[1]
						+ '</td><td>' + audio[2]
						+ '</td><td><a href="' + audio[3]
						+ '" target="_blank" rel="noopener noreferrer">'
						+ 'Download</a></td></tr>';
			}

			output += '</tbody></table></div></div>';
			return output;
		}
		
		async function loadPlaylist(json) {
			pltitle = document.getElementById('pl_title');
			plnumvideos = document.getElementById('pl_num_videos');
			pllist = document.getElementById('pl_list');

			pltitle.innerHTML = json.title;
			plnumvideos.innerHTML = json.videos.length + ' videos';
			pllist.innerHTML = '';
			collapsible.parentElement.classList.remove('s12');
			
			i = 0;
			progresstext.innerHTML = '<br><br>' + i + ' videos loaded (0%) ...';
			progressbar.classList.replace('indeterminate', 'determinate');
			
			total = json.videos.length;
			for (video of json.videos) {
				response = await fetch('/youtube/video/'+video.split('v=')[1]);
				json = await response.json();
				pllist.innerHTML += '<li><div class="collapsible-header">'
									+ json.title + '</div>'
									+ '<div class="collapsible-body">'
									+ getLinks(json)
									+ '</div></li>';
				collapsible.parentElement.classList.add('s12');
				i++;
				percentage = i/total*100;
				percentage = percentage.toPrecision(percentage.toFixed().length + 2)
				progresstext.innerHTML = '<br><br>' + i + ' videos loaded (' + percentage + '%) ...';
				progressbar.style.width = percentage + '%';
			}
			progresstext.innerHTML = '';
			progressbar.style.width = '0%';
			progresswrapper.style.display = 'none';
			progressbar.classList.replace('determinate', 'indeterminate');			
		}

		function loadVideo(json) {
			progresstext.innerHTML = '';
			progressbar.style.width = '0%';
			progresswrapper.style.display = 'none';

			vidthumb = document.getElementById('vid_thumb');
			vidtitle = document.getElementById('vid_title');
			vidduration = document.getElementById('vid_duration');
			vidlinks = document.getElementById('vid_links');

			vidthumb.src = json.thumbnail;
			vidtitle.innerHTML = json.title;
			vidduration.innerHTML = json.duration;
			vidlinks.innerHTML = getLinks(json);	
		}

		getbtn = document.getElementById('get');
		yturl = document.getElementById('yturl');
		init = 0;
		getbtn.onclick = function() {
			url = yturl.value;
			if (init == 0) {
				M.Collapsible.init(document.querySelectorAll('.collapsible'));
				init = 1;
			}
			if (url.includes('youtu.be') || url.includes('youtube.com')) {
				progresswrapper.style.display = 'block';
				// check if playlist
				if (url.includes('list=')) {
					// playlist
					document.querySelector('#pl_info').style.display = 'block';
					document.querySelector('#pl_main').style.display = 'block';
					document.querySelector('#vid_info').style.display = 'none';
					document.querySelector('#vid_main').style.display = 'none';
					progresstext.innerHTML = '<br><br>' + 'Loading playlist...';
					// extract id from url
					id = url.split('list=')[1].split('&')[0];
					fetch('/youtube/playlist/' + id)
					.then(r => r.json())
					.then(j => loadPlaylist(j));
				} else {
					// video
					document.querySelector('#pl_info').style.display = 'none';
					document.querySelector('#pl_main').style.display = 'none';
					document.querySelector('#vid_info').style.display = 'block';
					document.querySelector('#vid_main').style.display = 'block';
					document.getElementById('pl_list').innerHTML = '';
					collapsible.parentElement.classList.remove('s12');
					progresstext.innerHTML = '<br><br>' + 'Loading video...';
					// extract id from url
					if (url.includes('youtu.be')) {
						fragments = url.split('/');
						id = fragments[fragments.length-1];
					} else {
						id = url.split('v=')[1].split('&')[0];
					}
					fetch('/youtube/video/' + id)
					.then(r => r.json())
					.then(j => loadVideo(j));
				}
			} else {
				alert('Enter valid url');
			}
		}
	{% endif %}
	</script>
</body>
</html>