{% extends "base.html" %}
{% set active_page = 'home' %}

{% block title %}Home{% endblock %}

{% block style %}
.container {
	text-align: center;
}

p {
	margin: 0;
}
{% endblock %}

{% block content %}
	<div class="container">
		<h2 class="text-dark mt-3">Welcome!</h2>
		<p class="text-dark">Here you can search & add donor information</p>
		<br>
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">{{ data[0][0] }}</th>
						<th scope="col">{{ data[0][1] }} {{ 'entry' if data[0][1]==1 else 'entries'}}</th>
					</tr>
				</thead>
				<tbody>
					{% for data in data[1:] %}
					<tr>
						<td><a href="{{ url_for('search', q=data[0]) }}">{{ data[0] }}</a></td>
						<td>{{ data[1] }} {{ 'entry' if data[1]==1 else 'entries'}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}